@media screen and (min-width:399px) {
    .bg,
    .section1,
    .card1,
    .section2,
    .details-1,
    .section3,
    footer {
        display: none;
    }
    .error {
        display: block;
    }
    .error1 {
        width: 100%;
        margin-top: -40px;
    }
    .error-txt {
        font-size: 20px;
        font-family: calibri;
        font-weight: 900;
        color: rgb(58, 58, 58);
        text-align: center;
        margin-top: -180px;
        line-height: 32px;
    }
}
